h2{
color: lightblue;
}
body {
    background-color:dodgerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:justify
}

#nome-usuário{
    font-weight: bold;
}